.content-search__header,
.content-search__refine {
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.content-search__header > .content-search__refine > .title-wrapper > .mainTitle {
    min-width: auto;
    white-space: nowrap;
    margin-right: 28px;
    padding: 0;
}
.content-search__header > .content-search__refine > .title-wrapper {
    width: auto;
}
.content-search__header > .content-search__refine .activeClass {
    background-color: #29F87E;
    color: #000000;
    font-family: 'Mon-semi-bold',sans-serif;
    border-radius: 50px;
}
.switch {
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Mon-med',sans-serif;
  }
  .switch label:first-child {
    margin-right: 8px;
    white-space:nowrap;
  }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.switch input + label {
    margin-left: 4px;
    margin-right: 5px;
    position: relative;
    width: 44px;
    border-radius: 50px;
    height: 24px;
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(44px + .5rem);
  }
  .switch input + label::before,
  .switch input + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:44px;
    height: 24px;
    bottom: 0;
    display: block;
  }
  .switch input + label::before {
    right: 0;
    background-color: #221040;
    border-radius: 50px;
    border: 1px solid #3D286C;
    transition: 0.2s all;
  }
  .switch input + label::after {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(41,248,126,1) 0%, rgba(18,162,77,1) 100%);
    transition: 0.2s all;
  }
  .switch input:checked + label::after {
    margin-left: 20px;
  }
  .switch input:focus + label::before {
    outline: none;
    box-shadow: none;
  }
  .switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
  }
  .switch input:disabled + label::before {
    background-color: #e9ecef;
  }
  .switch + .switch {
    margin-left: 1rem;
  }
  .sortBy--text  {
    margin-right: 10px;
  }
  .searchParam {
      font-size: 16px;
      font-family: 'Mon-bold',sans-serif;
  }
  .cancel--btn {
      font-family: 'Mon-med',sans-serif;
      font-size: 14px;
      color: #29F87E;
      margin-left: 10px;
      cursor: pointer;
  }
  .text--green {
    font-family: 'Mon-med',sans-serif;
    color: #29F87E;
    cursor: pointer;
}
  .sortBy-text {
    font-size: 12px;
    color: #D6C6F4;
    opacity: 70%;
    margin-left: 4px;
    margin-right: 5px;
    font-family: 'Mon-med',sans-serif;
  }
  .sortBy-img {
    height: 8.33px;
    width: auto;
  }
  .bottomFixed--modal {
    inset:unset !important;
    width: 100% !important;
    bottom: 0 !important;
    max-height: 300px !important;
    overflow-y: auto !important;
    height: auto !important;
  }
  .img-close {
    width: 12px;
  }
  .content-search__header .globalSearch--custom {
    padding-right: 30px;
    padding-left: 30px;
  }
  .glassCard {
    background: rgb(0 0 0 / 30%);
    border-radius: 6px;
    padding: 15px !important;
    backdrop-filter: blur(30px);
  }
  .newsBunchWrap--custom {
    margin-top: 20px;
  }
  .content-search__header .searchIcon--left {
    width: 14px;
    height: 14px;
  }
  .content-search__header .leftSearch--custom {
      top: 27%
  }
  .glassCard .topNewsImage--custom {
    border-radius: 4px;
  }
  .glassCard .topNewsDescription__custom {
    width: 56%;
  }
  .glassCard .topNewsContaier__innerCustom {
    width: 44%;
  }
  .newsBunchWrap--custom .adBox__custom {
    height: auto;
  }
  .globalSearch--withvalue {
    padding-left:15px !important;
  }
  .modal-switch {
    display: flex;
    justify-content: center;
  }
  .bottomFixed--modal,
  .sortHeaderWarp__cusotm {
    position: relative;
  }
  .sortHeaderWarp__cusotm {
    z-index: 9999999;
  }
  .bottomFixed--modal::before {
    position: absolute;
    content: '';
    background: url(/static/newImages/inside_bg_listing.png) no-repeat;
    background-position: center top;
    top: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
  }
  .sortMenuWrap__custom {
    min-height: 180px;
    padding-top: 7px !important;
  }
  .sortHeaderWarp__cusotm {
    padding-bottom: 25px !important;
  }
  .sortHeaderWarp__cusotm .img-close {
    min-width: 20px;
    max-width: 20px;
    height: auto;
    position: relative;
  }
  @media (min-width:1730px) {
    .glassCard .topNewsDescription__custom {
      width: 56.7%;
    }
    .glassCard .topNewsContaier__innerCustom {
      width: 43.3%;
    }
  }

  @media (min-width:1024px) and (max-width:1729px) {
      .content-search__header .filter-wrap__custom .header__custom {
        padding: 4px 12px;
        font-size: 12px;
    }
  }
  @media (min-width:960px) and (max-width:1023px) {
    .content-search__header .filter-wrap__custom .header__custom {
        padding: 3px 10px;
        font-size: 10px;
  }
}

  @media (max-width:959px) {
    .content-search__header .filter-wrap__custom .header__custom {
        padding: 3px 10px;
        font-size: 12px;
    }
    .content-search__refine {
        flex-wrap: wrap;
    }
    .content-search__header .globalSearch--custom {
        width: 100%;
        max-width: 100%;
    }
    .content-search__header .filter-wrap__custom {
        overflow-x:auto ;
        margin-top: 9px;
        margin-bottom: 5px;
        padding-bottom: 8px;
    }
    .content-search__header .filter-wrap__custom::-webkit-scrollbar {
      width: 3px;
      margin: 10px 20px;
      background: transparent 3% 14% no-repeat padding-box !important;
      height: 2px;
      border-radius: 10px;
  }
  .content-search__header .filter-wrap__custom::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: none;
  }
  .content-search__header .filter-wrap__custom:hover::-webkit-scrollbar-track {
    background: #090411 0% 0% no-repeat padding-box;
    box-shadow: inset 0 0 5px #090411;
  }
    .content-search__header .filter-wrap__custom:hover::-webkit-scrollbar {
        width: 3px;
        margin: 10px 20px;
        background: #090411 3% 14% no-repeat content-box;
        height: 2px;
        border-radius: 10px;
    }
    
    .content-search__header .filter-wrap__custom:hover::-webkit-scrollbar-thumb {
      background: #29F87E;
    }
    .cancel--btn {
        font-family: 'Mon-med',sans-serif;
        font-size: 12px;
        color: #29F87E;
        margin-left: 6px;
        cursor: pointer;
    }
    .text--green {
      color: #29F87E;
    }
    .glassCard .topNewsContaier__innerCustom,
    .glassCard .topNewsDescription__custom  {
      width: 100%;
    }
    .glassCard .topNewsDescription__custom {
      padding-left: 0;
    }
    .newsBunchWrap--custom .glassCard {
      flex-direction: column;
      width: calc(100% - 320px);
    }
  }

  @media (max-width:599px) {
    .content-search__header > .content-search__refine > .title-wrapper {
        margin: 5px 0 0 16px
    }  
    .sortBy--text {
      display: none;
    } 
    .content-search__header .globalSearch--custom,
    .content-search__header .filter-wrap__custom,
    .searchParam {
        margin-left: 8px;
    }
    .searchParam {
        font-size: 12px;
    }
    .newsBunchWrap--custom > div+div {
      padding: 0 16px;
    }
    .content-search__header .leftSearch--custom {
      left: 8px;
    }
    .newsBunchWrap--custom .glassCard {
      flex-direction: column;
      width: 100%;
    }
  }
